.bridge-styler {
    --base-size: calc(8 * var(--font-text-size));
    /* & .block-language-handviewer {
        display: flex;
        justify-content: center;
    } */

    & .north,
    & .south,
    & .east,
    & .west {
        width: var(--base-size);
        height: var(--base-size);
        &.auction {
            height: calc(2 * var(--base-size));
        }
    }

    & .north.south {
        width: var(--base-size);
        height: calc(2 * var(--base-size));
        &.auction {
            width: calc(2 * var(--base-size));
        }
    }

    & .east.west {
        width: calc(2 * var(--base-size));
        height: var(--base-size);
        &.auction {
            height: calc(1.875 * var(--base-size));
        }
    }

    & .north.east,
    & .north.west,
    & .south.east,
    & .south.west {
        width: calc(2 * var(--base-size));
        height: calc(1.75 * var(--base-size));
    }

    & .north.east.south,
    & .north.west.south,
    & .east.south.west,
    & .east.north.west {
        width: calc(3 * var(--base-size));
        height: calc(2.75 * var(--base-size));
    }

    & .snippet {
        white-space: nowrap;
    }
    
    & .spadeSuit::before {
        content: '♠';
        color: black;
    }

    & .heartSuit::before {
        content: '♥';
        color: #cb0000;
    }
    
    & .diamondSuit::before {
        content: '♦';
        color: #cb0000;
    }
    &.minorOutline .diamondSuit::before {
        content: '♢';
        color: #cb0000;
    }
    &.bbo .diamondSuit::before {
        color: orange;
    }

    & .clubSuit::before {
        content: '♣';
        color: black;
    }
    &.minorOutline .clubSuit::before {
        content: '♧';
        color: black;
    }
    &.bbo .clubSuit::before {
        color: green;
    }

    & .handTitle {
        font-size: 24px;
    }

    & .centre {
        clear:both;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & .right {
        float: right;
        margin-left: var(--font-text-size);
    }

    & .left {
        float: left;
        margin-right: var(--font-text-size);
    }

    & h1,
    & h3 {
        clear: both;
    }

}
